{% load static %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial">
</head>
<body style="background-image: url('{% static 'media/background.png' %}');">
    <img src="{% static 'media/telegram.png' %}" alt="Telegram Logo" style="position: absolute; top: 17%; left: 10%; width: 45%; height: 18%;">
    <p style="color: white; position: absolute; top: 25%; left: 10%; font-size: 100%;">ORQALI SIFATLI KONTENT</p>
    <p style="color: white; position: absolute; top: 300px; left: 164px; font-size: 50px;">YARATISH VA DAROMADGA</p>
    <p style="color: white; position: absolute; top: 380px; left: 164px; font-size: 50px;">CHIQARISH</p>
    <p style="color: white; position: absolute; top: 460px; left: 250px; font-size: 30px;">BEPUL VEBINAR O'TISH SANASI</p>
    <p style="color: white; position: absolute; top: 500px; left: 390px; font-size: 25px; color:rgb(110, 162, 247);">9-10-NOYABR</p>
    <a href="{% url 'register' %}"> <button class="button">Ro'yxatdan o'tish</button></a>
    <img src="{% static 'media/telegramlogo.png' %}" alt="Telegram Logo" style="position: absolute; bottom: 400px; right: 100px; width: 250px; height: 250px;">
    <img src="{% static 'media/robot.png' %}" alt="Robot" style="position: absolute; bottom: 400px; right: 400px; width: 230px; height: 230px;">
    <img src="{% static 'media/person.png' %}"  alt="Person" style="position: absolute; bottom: 0%; right: 144px; width: 450px; height: 700px;">

</body>
</html>